<div class="row justify-content-sm-center h-100">
	<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
			
		<div class="card shadow-lg">
			<div class="card-body p-5">
				<h1 class="fs-4 card-title fw-bold mb-4">Prisijungimas</h1>
				<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
					<div class="mb-3">
						<label class="mb-2 text-muted" for="email">El. Pašto adresas</label>
						<input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="">
						<div class="invalid-feedback">
							El. Paštas privalomas
						</div>
					</div>

					<div class="mb-3">
						<div class="mb-2 w-100">
							<label class="text-muted" for="password">Slaptažodis</label>
						</div>
						<input id="password" type="password" class="form-control" name="password" required="">
						<div class="invalid-feedback">
							Slaptažodis privalomas
						</div>
					</div>

					<div class="row mt-3">
						<div class="col text-center">
							<button type="submit" class="btn btn-primary ms-auto">
							Prisijungti
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col text-center">
							<button type="submit" class="btn btn-outline-success ms-auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
									<path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
								</svg>
								Prisijungti naudojant Google
							</button>
						</div>
					</div>


					
				</form>
			</div>
			<div class="card-footer py-3 border-0">
				<div class="text-center">
					Neturite paskyros? <a class="text-dark" asp-controller="Auth" asp-action="Register">Registracija</a>
				</div>
			</div>
		</div>
	</div>
</div>