@{
    ViewBag.Title = "Index";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<div class="row justify-content-sm-center h-100">
	<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
			
		<div class="card shadow-lg">
			<div class="card-body p-5">
				<h1 class="fs-4 card-title fw-bold mb-4">Prisijungimas</h1>
				<form asp-controller="Auth" asp-action="Login" method="post" class="needs-validation" novalidate="" autocomplete="off">
					<div class="mb-3">
						<label class="mb-2 text-muted" for="email">El. Pašto adresas</label>
						<input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="">
						<div class="invalid-feedback">
							El. Paštas privalomas
						</div>
					</div>

					<div class="mb-3">
						<div class="mb-2 w-100">
							<label class="text-muted" for="password">Slaptažodis</label>
						</div>
						<input id="password" type="password" class="form-control" name="password" required="">
						<div class="invalid-feedback">
							Slaptažodis privalomas
						</div>
					</div>

					<div class="row mt-3">
						<div class="col text-center">
							<button type="submit" class="btn btn-primary ms-auto">Prisijungti</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col text-center">

							<script src="https://accounts.google.com/gsi/client" async defer></script>
							<div id="g_id_onload"
							 data-client_id="1005860306155-de43073q7sme8pu9n3pvpgs9u0vehrle.apps.googleusercontent.com"
							 data-ux_mode="redirect"
							 data-login_uri="https://localhost:7117/Auth/Google">
							</div>
							<div class="g_id_signin" data-type="standard"></div>

							
							</div>
					</div>

					<script>
						
					function onSignIn(googleUser) {
					  var profile = googleUser.getBasicProfile();
					  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
					  console.log('Name: ' + profile.getName());
					  console.log('Image URL: ' + profile.getImageUrl());
					  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
					}

						
					</script>


					
				</form>
			</div>
			<div class="card-footer py-3 border-0">
				<div class="text-center">
					Neturite paskyros? <a class="text-dark" asp-controller="Auth" asp-action="Register">Registracija</a>
				</div>
			</div>
		</div>
	</div>
</div>