<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skelbimas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Skelbimas</h1>

        <!-- Single Ad Details -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Skelbimo pavadinimas</h5>
                <p class="card-text">Skelbimo aprašymas</p>
                <p class="card-text"><strong>Kategorija:</strong> Kategorija</p>
                <p class="card-text"><strong>Kaina:</strong>100</p>
            </div>
        </div>

        <div class="mt-5">
            <h2>Komentarai</h2>
            <div class="mb-3">
                <label for="comment" class="form-label">Rašyti komentarą</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Jūsų komentaras"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" id="postComment">Paskelbti</button>
        </div>

        <div>
            <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Grįžti</a>
        </div>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
