<h1 class="display-5">Tema: Dėl skelbimo kainos</h1>
<h4 class="mt-2">Siuntėjas: Petras G.</h4>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Petras G.</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">2023-11-01 15:24</h6>
    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <button type="button" class="btn btn-outline-success">
        1
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-heart-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
        </svg>
        Reaguoti
</button>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Vardas P.</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">2023-11-01 15:30</h6>
    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <button type="button" class="btn btn-outline-success">
        0
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-heart-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
        </svg>
        Reaguoti
    </button>
    <button type="button" class="btn btn-secondary">Redaguoti</button>
  </div>
</div>

<div class="mt-5">
    <label for="description" class="form-label">Atsakyti</label>
    <textarea class="form-control" id="description" rows="3" placeholder="Įveskite žinutę, kurią noritę išsiųsti"
        required></textarea>
</div>


<button type="button" class="btn btn-primary mt-2">Siųsti žinutę</button>
