<div class="row">
    <div class="col-md-6 offset-md-3">
        <div>
            <form action="" class="mt-5 border p-4 bg-light shadow">
                <h4 class="mb-5 text-secondary">Profilio redagavimas</h4>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label>Vardas</label>
                        <input type="text" name="fname" class="form-control" placeholder="Vardenis">
                    </div>

                    <div class="mb-3 col-md-6">
                        <label>Pavardė</label>
                        <input type="text" name="Lname" class="form-control" placeholder="Pavardenis">
                    </div> 
                    <div class="mb-3 col-md-12">
                        <label>El. paštas</label>
                        <input type="email" name="email" class="form-control" placeholder="vardenis.pavardenis@pastas.lt">
                    </div>
                    <div class="mb-3 col-md-12">
                        <label>Miestas</label>
                        <input type="text" name="city" class="form-control" placeholder="Kaunas">
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary float-end">Išsaugoti</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>